/*   FONTS  */

@font-face {
    font-family: "Teko";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/teko-v9-latin-regular.eot"); /* IE9 Compat Modes */
    src: local("Teko Regular"), local("Teko-Regular"),
        url("../fonts/teko-v9-latin-regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/teko-v9-latin-regular.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/teko-v9-latin-regular.woff") format("woff"),
        /* Modern Browsers */ url("../fonts/teko-v9-latin-regular.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/teko-v9-latin-regular.svg#Teko") format("svg"); /* Legacy iOS */
}
@font-face {
    font-family: "Teko";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/teko-v9-latin-500.eot"); /* IE9 Compat Modes */
    src: local("Teko Medium"), local("Teko-Medium"),
        url("../fonts/teko-v9-latin-500.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/teko-v9-latin-500.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/teko-v9-latin-500.woff") format("woff"),
        /* Modern Browsers */ url("../fonts/teko-v9-latin-500.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/teko-v9-latin-500.svg#Teko") format("svg"); /* Legacy iOS */
}

/* teko-700 - latin */
@font-face {
    font-family: "Teko";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/teko-v9-latin-700.eot"); /* IE9 Compat Modes */
    src: local("Teko Bold"), local("Teko-Bold"),
        url("../fonts/teko-v9-latin-700.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/teko-v9-latin-700.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/teko-v9-latin-700.woff") format("woff"),
        /* Modern Browsers */ url("../fonts/teko-v9-latin-700.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/teko-v9-latin-700.svg#Teko") format("svg"); /* Legacy iOS */
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Regular.eot");
    src: local("Proxima Nova Regular"), local("ProximaNova-Regular"),
        url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ProximaNova-Regular.woff") format("woff"),
        url("../fonts/ProximaNova-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Bold.eot");
    src: local("Proxima Nova Bold"), local("ProximaNova-Bold"),
        url("../fonts/ProximaNova-Bold.eot?#iefix") format("../fonts/embedded-opentype"),
        url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Extrabld.eot");
    src: local("Proxima Nova Extrabold"), local("ProximaNova-Extrabld"),
        url("../fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ProximaNova-Extrabld.woff") format("woff"),
        url("../fonts/ProximaNova-Extrabld.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Mutiara";
    src: url("../fonts/Mutiara_Display.eot");
    src: local("Mutiara Display"), local("Mutiara_Display"),
        url("../fonts/Mutiara_Display.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Mutiara_Display.woff") format("woff"), url("../fonts/Mutiara_Display.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*   FONTS  END  */
